<template>
  <div class="full-widget" :style="{'width': handleWidthCheck() + '%' }">
    <div v-if="widgetError" class="widget-error">
      <img src="https://static.pickvisa.com/website/v2/icons/custom-icons/unavailable_service.svg" alt="Service unavailable">
      <h1>This service is currently unavailable</h1>
      <button @click="refreshWidget">Refresh</button>
    </div>
    <div class="loader" v-if="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div v-if="!widgetError && activeStep === 1" class="full-widget-form" :style="{ 'background-color': bgColor }">
      <h1 :style="{ 'color': textColor }">Apply for any visa in two clicks!</h1>
      <b-form @submit.prevent="handleSearch">
        <b-form-group label="Citizen of">
              <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" :visible="false" placeholder="Choose country" v-model="filterForm.citizen_of">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center justify-content-start" style="width: 100px; column-gap: 20px;">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="20px" height="20px" alt="">
                    <div style="white-space: pre;">{{ option.display_name }}</div>
                  </div>
                </template>
              </v-select>
          </b-form-group>
          <b-form-group label="Planning to visit">
              <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" :visible="false" placeholder="Choose country" v-model="filterForm.travel_to">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center justify-content-start" style="width: 50px; column-gap: 20px;">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="20px" height="20px" alt="">
                    <div style="white-space: pre;">{{ option.display_name }}</div>
                  </div>
                </template>
              </v-select>
          </b-form-group>
          <button type="submit" :style="{ 'background-color': btnColor }">Search</button>
      </b-form>
    </div>
    <div v-if="!widgetError && activeStep === 2" class="full-widget-prices" :style="{ 'background-color': bgColor }">
      <div class="head">
         <button class="btn go-back" @click="activeStep = 1" :style="{ 'color': textColor }">
          <Icon :name="'arrow-left'" />
        </button>
        <h1 :style="{ 'color': textColor }">Select type</h1>
      </div>
      <div class="body">
        <template v-for="service in services">
          <div v-for="item in service.sub_types" :key="item.id" :id="item.subId" :class="['type-item']" @click="handleServiceSelect(item.subId)">
          <div class="visa-info">
            <strong>{{ item.serviceTitle }}</strong>
            <span>{{ item.subTitle === '---' ? '' : item.subTitle }}</span>
          </div>
          <div class="price-info">
            <span>{{ item.totalPrice }} {{ item.currency }}</span>
          </div>
        </div>
        </template>
      </div>
      <button class="btn btn-apply" @click="handleWidgetApply" :style="{ 'background-color': btnColor }">Apply</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ['widgetData'],
  data() {
    return {
      loading: true,
      widgetError: false,
      activeStep: 1,
      filterForm: {
        citizen_of: '',
        resident_of: '',
        travel_to: ''
      },
      searchForm: {
        citizenship: '',
        residency: '',
        destination: '',
        service_id: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      countries: 'countries',
      countrySlug: 'countrySlug',
      services: 'widgets/services'
    }),
    bgColor() {
      if(this.widgetData.theme === 'light') {
        return '#fff'
      }else if(this.widgetData.theme = 'dark') {
        return '#189CA9'
      }
    },
    textColor() {
      if(this.widgetData.theme === 'light') {
        return '#222B45'
      }else if(this.widgetData.theme = 'dark') {
        return '#fff'
      }
    },
    btnColor() {
      if(this.widgetData.theme === 'light') {
        return '#189CA9'
      }else if(this.widgetData.theme = 'dark') {
        return '#192038'
      }
    },
  },
  methods: {
    handleWidthCheck(){
      const breaks = [40,50,60,70,80,90,100]
      if(breaks.includes(Number(this.widgetData.width))) {
        return this.widgetData.width
      }else {
        return 100
      }
    },
    async handleSearch() {
      this.filterForm.resident_of = this.filterForm.citizen_of
      if(this.widgetData.price === "true"){
        if(!this.filterForm.citizen_of || !this.filterForm.resident_of || !this.filterForm.travel_to){
          return
        }else {
          this.loading = true
          try {
            await this.$store.dispatch('widgets/fetchServicePrices',this.filterForm)
          }catch(e) {
            this.widgetError = true
          }
          this.loading = false
          this.activeStep = 2
        }
      }else {
        if(!this.filterForm.citizen_of || !this.filterForm.resident_of || !this.filterForm.travel_to) {
          return
        }else {
          if(this.widgetData.preview === "true")
            return
          this.searchForm.citizenship = this.filterForm.citizen_of
          this.searchForm.residency = this.filterForm.resident_of
          this.searchForm.destination = this.filterForm.travel_to
          const url = `https://stg.client.pickvisa.com/${this.countrySlug(this.searchForm.destination) + '-visa'}?citizenship=AZE&track_id=${this.widgetData.track_id}`
          window.open(url)
        }
      }
    },
    handleServiceSelect(id) {
      document.querySelectorAll('.type-item').forEach(el => {
        el.classList.remove('selected')
      })
      document.getElementById(id).classList.add('selected')
      document.getElementById(id).classList.add(`bc-${this.widgetData.theme}`)

      this.searchForm.service_id = id
      this.searchForm.citizenship = this.filterForm.citizen_of
      this.searchForm.residency = this.filterForm.resident_of
      this.searchForm.destination = this.filterForm.travel_to
    },
    handleWidgetApply() {
      if(this.widgetData.preview === "true")
        return
      if(!this.searchForm.service_id) 
        return
      const url = `https://stg.client.pickvisa.com/payment?&track_id=${this.widgetData.track_id}&citizenship=${this.searchForm.citizenship}&residency=${this.searchForm.residency}&destination=${this.searchForm.destination}&service_id=${this.searchForm.service_id}`
      window.open(url)
    },

    refreshWidget() {
      window.location.reload()
    }
  },
  async fetch() {
    await this.$store.dispatch('fetchCountries')
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.loader {
    background-color:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 10px;
}
.lds-roller {
  background-color: #189CA9;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50px);
  justify-content: center;
  z-index: 99;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  .full-widget {
    position: relative;
    height: 482px;
  }
  .full-widget-form {
    height: 100%;
    border-radius: 10px;
    padding: 40px 32px 56px 32px;
    h1 {
      margin-bottom: 42px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    form {
      .form-group {
        max-width: 100%;
      }

      button {
        color: #fff;
        margin-top: 56px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
      }
    }
  }

  .full-widget-prices {
    border-radius: 10px;
    padding: 24px;
    
    .head {
      display: flex;
      align-items: start;

      h1 {
        margin-bottom: 42px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
    }

    .body {
      height: 287px;
      overflow: scroll;
      .type-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 12px 16px 16px;
        background-color: #F7F9FC;
        border: 1px solid #E4E9F2;
        border-radius: 8px;
        cursor: pointer;

        &.selected.bc-light {
          border: 1px solid #189CA9;
        }
        &.selected.bc-dark {
          border: 1px solid #000;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .visa-info {
          display: flex;
          flex-direction: column;
          strong {
            color: #2E3A59;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
          }

          span {
            max-width: 218px;
            color: #2E3A59;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
          }
        }
        .price-info {
          padding: 6px 8px;
          background: #C9E7E5;
          border-radius: 2px;

          span {
            color: #189CA9;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }

    .btn-apply {
      margin-top: 24px;
      width: 100%;
      height: 48px;
      background: #189CA9;
      border-radius: 8px;
    }
  }

  .full-widget .widget-error {
    height: 100%;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 48px;
      height: 48px;
    }
    h1 {
      font-size: 16px;
    }
    button {
      width: 118px;
      height: 40px;
      background-color: #189CA9;
      border-radius: 4px;
      color: #fff;
    }
  }
</style>>
