<template>
  <div class="company edit">
    <PageHeader title="Edit details" show-actions />
    <div class="container">
      <div class="company-edit_inner white-panel">
         <div class="row legal-details">
          <h2>User details</h2>
          <div class="col-12 mt-4 d-flex align-items-center flex-wrap justify-content-between ">
              <b-form-group label="First name">
              <FormField :value="details.profile.first_name" v-model="profileForm.first_name"/>
            </b-form-group>
            <b-form-group label="Last name">
              <FormField :value="details.profile.last_name" v-model="profileForm.last_name"/>
            </b-form-group>
              <b-form-group label="Email">
              <FormField :value="details.email" v-model="profileForm.email"/>
            </b-form-group>
             <b-form-group label="Date of birth">
              <date-picker v-model="profileForm.date_of_birth" value-type="format" format="YYYY-MM-DD" :placeholder="details.profile.date_of_birth" />
            </b-form-group>
             <b-form-group label="Nationality">
               <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" placeholder="Choose country" v-model="profileForm.nationality">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="auto" height="20px" alt="" style="margin-right:20px">
                    <span style="max-width: 50px; white-space: no-wrap;">{{ option.display_name }}</span>
                  </div>
                </template>
              </v-select>
            </b-form-group>
            <b-form-group>
            </b-form-group>
            </div>
        </div>
         <div v-if="details.profile.company" class="row company-details flex-column">
         <h2>Company details</h2>
          <div class="col-12  d-flex align-items-center flex-wrap justify-content-between">
            <b-form-group label="Type">
              <v-select :options="companyTypeOptions" :reduce="(data) => data.value" placeholder="Choose type" v-model="companyForm.type">
              </v-select>
            </b-form-group>
            <b-form-group label="Legal name">
              <FormField  v-model="companyForm.legal_name" />
            </b-form-group>
            <b-form-group label="Country">
                <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" placeholder="Choose country" v-model="companyForm.country">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="auto" height="20px" alt="" style="margin-right:20px">
                    <span style="max-width: 50px; white-space: no-wrap;">{{ option.display_name }}</span>
                  </div>
                </template>
              </v-select>
            </b-form-group>
             <b-form-group label="City">
              <FormField v-model="companyForm.city"/>
            </b-form-group>
             <b-form-group label="Company size">
               <v-select :options="companySizeOptions" :reduce="(data) => data.value" placeholder="Choose size" v-model="companyForm.size">
              </v-select>
            </b-form-group>
            <b-form-group label="Zip code">
              <FormField v-model="companyForm.zip_code"/>
            </b-form-group>
             <b-form-group label="VAT number">
              <FormField v-model="companyForm.vat_number"/>
            </b-form-group>
            <b-form-group label="Website">
              <FormField v-model="companyForm.website"/>
            </b-form-group>
             <b-form-group label="Company email">
              <FormField v-model="companyForm.email"/>
            </b-form-group>
            </div>
        </div>
          <button class="btn btn-greenland" @click="handleDetailsUpdate">Save changes</button>
      </div>
    </div>
  </div>
</template>


<script>
  import { mapGetters } from 'vuex'
  export default {
    async asyncData({ store }) {
      await store.dispatch('fetchCountries')
      await store.dispatch('user-details/fetchUserDetails')
      await store.dispatch('register/fetchCompanyTypes')
    },
    data() {
      return {
        profileForm: {
          email: '',
          first_name: '',
          last_name: '',
          nationality: '',
          date_of_birth: ''
        },
        companyForm: {
          type: '',
          size: '',
          profile: '',
          legal_name: '',
          address: '',
          country: '',
          city: '',
          vat_number: '',
          zip_code: '',
          email: '',
          website: ''
        },

      }
    },
    computed: {
      ...mapGetters({
        countries: 'countries',
        companyTypeOptions: 'register/companyTypeOptions',
        companySizeOptions: 'register/companySizeOptions',
        details: 'user-details/userDetails'
      }),
    },
    methods: {
      async handleDetailsUpdate() {
        if(!this.details?.profile?.company) {
          if(this.profileForm.email === this.details.email) {
            delete this.profileForm['email']
          }
          for(const [key,val] of Object.entries(this.details.profile)){
            if(this.profileForm[key] === this.details.profile[key]){
              delete this.profileForm[key]
            }
          }
          if(Object.keys(this.profileForm).length === 0) {
            this.$toast.error('Please change any detail')
            return 
          }
          await this.$store.dispatch('user-details/updateProfileInfo',this.profileForm)
        }else {
           if(this.profileForm.email === this.details.email) {
            delete this.profileForm['email']
          }
          for(const [key,val] of Object.entries(this.details.profile)){
            if(this.profileForm[key] === this.details.profile[key]){
              delete this.profileForm[key]
            }
          }
           for(const [key,val] of Object.entries(this.details.profile.company)){
            if(this.companyForm[key] === this.details.profile.company[key]){
              delete this.companyForm[key]
            }
          }
          if(Object.keys(this.profileForm).length === 0 && Object.keys(this.companyForm).length === 0) {
            this.$toast.error('Please change any detail')
            return 
          }
          await this.$store.dispatch('user-details/updateProfileInfo',this.profileForm)
          await this.$store.dispatch('user-details/updateCompanyInfo',this.companyForm)
        }
      }
    },
    mounted(){
      this.profileForm.email = this.details.email
      for(const [key,val] of Object.entries(this.details.profile)){
          this.$set(this.profileForm,key,val)
       } 
      if(this.details.profile.company) {
        for(const [key,val] of Object.entries(this.details.profile.company)){
            this.$set(this.companyForm,key,val)
        } 
      }
    }
}
</script>

<style>

</style>