<template>
  <div class="company">
    <PageHeader title="Personal details" show-actions>
      <template #actions>
        <button class="btn edit" @click="$router.push('/info/edit')">
          <Icon name="edit-2" />
          Edit
        </button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="company-inner white-panel">
        <div class="row legal-details">
         <h2>User details</h2>
          <div class="col-12 p-0 d-flex align-items-center flex-wrap justify-content-between">
             <DetailField label="First name:">
              <strong>{{ userDetails.profile.first_name || '---' }}</strong>
            </DetailField>
            <DetailField label="Last name:">
              <strong>{{ userDetails.profile.last_name || '---' }}</strong>
            </DetailField>
            <DetailField label="Date of birth:">
              <strong>{{ userDetails.profile.date_of_birth || '---' }}</strong>
            </DetailField>
            <DetailField label="Nationality:">
                <strong>{{ userDetails.profile.nationality || '---' }}</strong>
              </DetailField>
            <DetailField label="Email:">
              <strong>{{ userDetails.email || '---' }}</strong>
            </DetailField>
          </div>
        </div>
         <div v-if="userDetails.profile.company" class="row company-details flex-column">
          <h2>Company details</h2>
          <div class="col-12 p-0 d-flex align-items-center flex-wrap justify-content-between">
            <DetailField label="Type:">
              <strong>{{ userDetails.profile.company.type || '---' }}</strong>
            </DetailField>
            <DetailField label="Legal name:">
              <strong>{{ userDetails.profile.company.legal_name || '---' }}</strong>
            </DetailField>
            <DetailField label="Company Size:">
              <strong>{{ userDetails.profile.company.size || '---' }}</strong>
            </DetailField>
            <DetailField label="Company email:">
                <strong>{{ userDetails.profile.company.email || '---' }}</strong>
            </DetailField>
              <DetailField label="Company website:">
                <strong>{{ userDetails.profile.company.website || '---' }}</strong>
            </DetailField>
          </div>
           <div class="col-12 p-0 mt-4 d-flex align-items-center flex-wrap justify-content-between">
              <DetailField label="Address:">
                <strong>{{ userDetails.profile.company.address || '---' }}</strong>
              </DetailField>
              <DetailField label="Country:">
                <strong>{{ userDetails.profile.company.country || '---' }}</strong>
              </DetailField>
              <DetailField label="City:">
                <strong>{{ userDetails.profile.company.city || '---' }}</strong>
              </DetailField>
               <DetailField label="Vat number:">
                <strong>{{ userDetails.profile.company.vat_number || '---' }}</strong>
              </DetailField>
              <DetailField label="Zip code:">
                <strong>{{ userDetails.profile.company.zip_code || '---' }}</strong>
              </DetailField>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    async asyncData({ store }) {
      await store.dispatch('user-details/fetchUserDetails')
    },
    computed: {
      ...mapGetters({
        userDetails: 'user-details/userDetails',
      })
    },
  }
</script>

<style>

</style>