<template>
  <div class="widgets create">
     <PageHeader :title="widgetData.title" show-actions show-back-button>
        <template #actions>
            <button class="btn btn-code" @click="handleWidgetCodeShow($route.params.id)">View code</button>
        </template>
     </PageHeader>
    <div class="container">
      <div class="widgets-create-inner">
        <div class="create-widget-forms">
          <div class="create general">
            <div class="head">
              <div>
                <span>1</span>
                <h3>General</h3>
              </div>
            </div>
            <div class="body">
              <FormField placeholder="Enter widget name"  v-model="updateWidgetForm.title"/>
            </div>
          </div>
          <div class="create type">
            <div class="head">
              <div>
                <span>2</span>
                <h3>Widget type</h3>
              </div>
            </div>
            <div class="row body align-items-start flex-wrap">
              <div class="widget-type full col-4">
                <span>Vertical widget</span>
                <div id="vertical_widget" @click="handletWidgetSelect($event,'vertical_widget')">
                  <img src="/images/widgets/full.svg" alt="full-widget">
                </div>
              </div>
                <div class="widget-type horizontal col-4">
                <span>Horizontal widget</span>
                <div id="horizontal_widget" @click="handletWidgetSelect($event,'horizontal_widget')">
                  <img src="/images/widgets/horizontal.svg" alt="horizontal-widget">
                </div>
              </div>
            </div>
          </div>
           <div class="create appearance" v-show="updateWidgetForm.type">
            <div class="head">
              <div>
                <span>3</span>
                <h3>Appearance</h3>
              </div>
            </div>
            <div class="body">
              <div class="row mt-4 flex-wrap align-items-center">
                <b-form-group label="Size" class="col-4">
                  <v-select :options="filterTypeOptions" :reduce="(data) => data.value" placeholder="Choose theme" v-model="updateWidgetForm.screen_size_width">
                  </v-select>
                </b-form-group>
                <b-form-group label="Theme" class="col-4">
                  <v-select :options="[{label: 'Dark', value: 'dark'}, {label: 'Light',value: 'light'}]" :reduce="(data) => data.value" placeholder="Choose theme" v-model="updateWidgetForm.theme">
                  </v-select>
                </b-form-group>
                <b-form-group class="mb-0" style="cursor: pointer;">
                  <b-form-checkbox
                    id="price-input"
                    v-model="updateWidgetForm.price"
                    name="price-input"
                  >
                    With price
                  </b-form-checkbox>
                </b-form-group>
              </div>
            </div>
            <div class="create preview" v-show="updateWidgetForm.type">
              <iframe :src="`${baseUrl}/embed?type=${updateWidgetForm.type}&theme=${updateWidgetForm.theme}&price=${updateWidgetForm.price}&preview=true`" frameborder="0" :width="`${updateWidgetForm.screen_size_width}%`" :height="previewWidgetHeight"></iframe>
           </div>
             <button class="btn btn-greenland mt-4 ml-auto" @click="handleWidgetUpdate">Save</button>
          </div>
          <FormModal title="Widget code" :toggle="showCodeModal" @close="showCodeModal = false">
            <pre>{{ codeToCopy }}</pre>
            <button class="btn btn-greenland" @click="handleCodeCopy">Copy code</button>
          </FormModal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex' 
export default {
  async asyncData({ store,params }) {
    await store.dispatch('widgets/fetchWidgetByTrackId', params.id)
  },
  data() {
    return {
      showCodeModal: false,
      codeToCopy: '',
      updateWidgetForm: {
        track_id: '',
        title: '',
        type: '',
        theme: '',
        screen_size_width: '',
        price: '',
      },
      verticalSizeOptions: [
        {label: '40 %', value: '40'},
        {label: '50 %', value: '50'},
        {label: '60 %', value: '60'},
        {label: '70 %', value: '70'},
        {label: '80 %', value: '80'},
        {label: '90 %', value: '90'},
        {label: '100 %',value: '100'}
      ],
      horizontalSizeOptions: [
        {label: '60 %', value: '60'},
        {label: '70 %', value: '70'},
        {label: '80 %', value: '80'},
        {label: '90 %', value: '90'},
        {label: '100 %',value: '100'}
      ],
    }
  },
  computed: {
    ...mapGetters({
      widgetData: 'widgets/widgetByTrackId'
    }),
    baseUrl() {
      return window.location.origin
    },
    filterTypeOptions() {
      return this.updateWidgetForm.type === 'vertical_widget' ? this.verticalSizeOptions : this.horizontalSizeOptions
    },
    previewWidgetHeight() {
      return this.updateWidgetForm.type === 'vertical_widget' ? '482px' : '264px'
    }
  },
  methods: {
    async handleWidgetCodeShow(track_id) {
      await this.$store.dispatch('widgets/fetchWidgetByTrackId',track_id)
      this.codeToCopy =`
      <iframe src="${window.location.origin}/embed?track_id=${this.updateWidgetForm.track_id}&type=${this.updateWidgetForm.type}&price=${this.updateWidgetForm.price}&theme=${this.updateWidgetForm.theme} "frameborder="0" height="${this.previewWidgetHeight}" width="${this.updateWidgetForm.screen_size_width}%"></iframe>`
      this.showCodeModal = true
    },
    handletWidgetSelect(e,type) {
      document.querySelectorAll('.widget-type > div').forEach(item => {
        item.classList.remove('selected')
      })
      document.getElementById(type).classList.add('selected')
      this.updateWidgetForm.screen_size_width = 100
      this.updateWidgetForm.type = type
    },
    handleWidgetUpdate() {
      this.$store.dispatch('widgets/updateWidget',{form: this.updateWidgetForm, track_id: this.updateWidgetForm.track_id })
    },
    prepareFrame() {
        const iframe = document.createElement("iframe");
        const sourceLink = `${window.location.origin}/embed?type=${this.updateWidgetForm.type}`
        iframe.setAttribute("src", sourceLink);
        iframe.setAttribute("width", '100%');
        iframe.setAttribute("height", '100%');
        iframe.setAttribute("frameborder", '0');

        // console.log(iframe);
    },
    handleWidgetPreview() {
       const sourceLink = `${window.location.origin}/embed?type=${this.updateWidgetForm.type}&theme=${this.updateWidgetForm.theme}`
       window.open(sourceLink)
    },
    handleCodeCopy() {
    const link = this.codeToCopy
    //  link.select();
    //  link.setSelectionRange(0, 99999); // For mobile devices
      navigator.clipboard.writeText(link)

      document.getElementsByClassName('btn-greenland')[1].innerHTML = 'Copied!'
  }
  },
  mounted() {
    for(const [key,val] of Object.entries(this.widgetData)){
      if(this.updateWidgetForm.hasOwnProperty(key)){
        this.updateWidgetForm[key] = val
      }
    } 
    document.getElementById(this.updateWidgetForm.type).classList.add('selected')
  }
}
</script>

<style>

</style>