<template>
  <div class="widgets create">
     <PageHeader title="Widgets" show-actions show-back-button />
    <div class="container">
      <div class="widgets-create-inner">
        <div class="create-widget-forms">
          <div class="create general">
            <div class="head">
              <div>
                <span>1</span>
                <h3>General</h3>
              </div>
            </div>
            <div class="body">
              <FormField placeholder="Enter widget name" v-model="createWidgetForm.title" />
            </div>
          </div>
          <div class="create type">
            <div class="head">
              <div>
                <span>2</span>
                <h3>Widget type</h3>
              </div>
            </div>
            <div class="row body align-items-start flex-wrap">
              <div class="widget-type full col-4">
                <span>Vertical widget</span>
                <div @click="handletWidgetSelect($event,'vertical_widget')">
                  <img src="/images/widgets/full.svg" alt="full-widget">
                </div>
              </div>
                <div class="widget-type horizontal col-4">
                <span>Horizontal widget</span>
                <div @click="handletWidgetSelect($event,'horizontal_widget')">
                  <img src="/images/widgets/horizontal.svg" alt="horizontal-widget">
                </div>
              </div>
            </div>
          </div>
           <div class="create appearance" v-show="createWidgetForm.type">
            <div class="head">
              <div>
                <span>3</span>
                <h3>Appearance</h3>
              </div>
            </div>
            <div class="body">
              <div class="row mt-4 flex-wrap align-items-center">
                <b-form-group label="Size" class="col-4">
                  <v-select :options="filterTypeOptions" :reduce="(data) => data.value" placeholder="Choose theme" v-model="createWidgetForm.screen_size_width">
                  </v-select>
                </b-form-group>
                <b-form-group label="Theme" class="col-4">
                  <v-select :options="[{label: 'Dark', value: 'dark'}, {label: 'Light',value: 'light'}]" :reduce="(data) => data.value" placeholder="Choose theme" v-model="createWidgetForm.theme">
                  </v-select>
                </b-form-group>
                <b-form-group class="mb-0" style="cursor: pointer;">
                  <b-form-checkbox
                    id="price-input"
                    v-model="createWidgetForm.price"
                    name="price-input"
                  >
                    With price
                  </b-form-checkbox>
                </b-form-group>
              </div>
            </div>
            <div class="create preview" v-show="createWidgetForm.type">
            <iframe :src="`${baseUrl}/embed?type=${createWidgetForm.type}&theme=${createWidgetForm.theme}&price=${createWidgetForm.price}&preview=true`" frameborder="0" :width="`${createWidgetForm.screen_size_width}%`" :height="previewWidgetHeight"></iframe>
          </div>
            <button class="btn btn-greenland mt-4 ml-auto" @click="handleWidgetCreate">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {v4 as uuidv4 } from 'uuid'
export default {
  data() {
    return {
      createWidgetForm: {
        title: '',
        track_id: '',
        type: '',
        theme: 'light',
        screen_size_width: 100,
        price: false,
      },
      verticalSizeOptions: [
        {label: '40 %', value: '40'},
        {label: '50 %', value: '50'},
        {label: '60 %', value: '60'},
        {label: '70 %', value: '70'},
        {label: '80 %', value: '80'},
        {label: '90 %', value: '90'},
        {label: '100 %',value: '100'}
      ],
      horizontalSizeOptions: [
        {label: '60 %', value: '60'},
        {label: '70 %', value: '70'},
        {label: '80 %', value: '80'},
        {label: '90 %', value: '90'},
        {label: '100 %',value: '100'}
      ],
    }
  },
  computed: {
    baseUrl() {
      return window.location.origin
    },
    filterTypeOptions() {
      return this.createWidgetForm.type === 'vertical_widget' ? this.verticalSizeOptions : this.horizontalSizeOptions
    },
    previewWidgetHeight() {
      return this.createWidgetForm.type === 'vertical_widget' ? '482px' : '264px'
    }
  },
  methods: {
    handletWidgetSelect(e,type) {
      document.querySelectorAll('.widget-type > div').forEach(item => {
        item.classList.remove('selected')
      })
      e.target.parentElement.classList.add('selected')
      this.createWidgetForm.screen_size_width = 100
      this.createWidgetForm.type = type
    },
    openColorPicker(event) {
      event.target.children[0].showPicker()
    },
    handleWidgetCreate() {
      this.createWidgetForm.track_id = uuidv4()
      this.$store.dispatch('widgets/createWidget',this.createWidgetForm)
    },
    prepareFrame() {
        const iframe = document.createElement("iframe");
        const sourceLink = `${window.location.origin}/embed?type=${this.createWidgetForm.type}`
        iframe.setAttribute("src", sourceLink);
        iframe.setAttribute("width", '100%');
        iframe.setAttribute("height", '100%');
        iframe.setAttribute("frameborder", '0');

        // console.log(iframe);
    },
    handleWidgetPreview() {
       const sourceLink = `${window.location.origin}/embed?type=${this.createWidgetForm.type}&theme=${this.createWidgetForm.theme}`
       window.open(sourceLink)
    }
  },
}
</script>

<style>

</style>