<template>
  <div class="widgets">
    <PageHeader title="Widgets" show-actions>
      <template #actions>
        <button class="btn btn-greenland" @click="$router.push('/widgets/create')">Create widget</button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="widgets-inner white-panel">
        <DataTable :fields="fields">
          <tbody>
            <tr v-for="item in widgets" :key="item.id">
              <td style="max-width: 200px;">
                <span>{{ item.title }}</span>
              </td>
               <td>
                <span>{{ item.type }}</span>
              </td>
               <td>
                <span>{{ $moment(item.updated_at).format('MMM d, YYYY') }}</span>
              </td>
               <td>
                <span>{{ item.total_clicks || 0 }}</span>
              </td>
               <td>
                <span>{{ item.total_conversion || 0 }}</span>
              </td>
              <td>
                 <div class="actions">
                  <button @click="$router.push(`/widgets/${item.track_id}`)">
                    <icon name="edit-2" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </DataTable>

        <FormModal title="Widget code" :toggle="showCodeModal" @close="showCodeModal = false">
          <pre>{{ codeToCopy }}</pre>
          <button class="btn btn-greenland" @click="handleCodeCopy">Copy code</button>
       </FormModal>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
  name: 'Widgets',
   async asyncData({ store }) {
    await Promise.all([
      store.dispatch('widgets/fetchWidgets'),
    ])
  },
  data() {
    return {
      fields: ['Widget name','Type','Modified date', 'Conversion','Clicks'],
      showCodeModal: false,
      previewModalData: {
        type: '',
        theme: '',
        track_id: '',
        price: '',
        screen_size_width: ''
      },
      codeToCopy: ''
    }
  },
  computed: {
    ...mapGetters({
      widgets: 'widgets/widgets',
      widgetData: 'widgets/widgetByTrackId'
    }),
    previewWidgetHeight() {
      return this.widgetData.type === 'vertical_widget' ? '482px' : '264px'
    }
  },
  methods: {
    async handleWidgetCodeShow(track_id) {
      await this.$store.dispatch('widgets/fetchWidgetByTrackId',track_id)
      this.codeToCopy =`
      <iframe src="${window.location.origin}/embed?track_id=${this.widgetData.track_id}&type=${this.widgetData.type}&price=${this.widgetData.price}&theme=${this.widgetData.theme} "frameborder="0" height="${this.previewWidgetHeight}" width="${this.widgetData.screen_size_width}%"></iframe>`
      this.showCodeModal = true
    },
    async handleWidgetPreview(track_id,type) {
      await this.$store.dispatch('widgets/fetchWidgetByTrackId',track_id)

      this.previewModalData.type = this.widgetData.type
      this.previewModalData.theme = this.widgetData.theme
      this.previewModalData.track_id = this.widgetData.track_id
      this.previewModalData.price = this.widgetData.price
      this.previewModalData.screen_size_width = this.widgetData.screen_size_width

      if(type === 'full_widget') {
        this.showPreviewModal = true
      }else if(type === 'horizontal_widget'){
        this.showSlideOut = true
      }
      
    },
    handleCodeCopy() {
    const link = this.codeToCopy
    //  link.select();
    //  link.setSelectionRange(0, 99999); // For mobile devices
      navigator.clipboard.writeText(link)

      document.getElementsByClassName('btn-greenland')[1].innerHTML = 'Copied!'
  }
  }
  
}
</script>

<style>

</style>