<template>
  <div :class="['page-header', { 'with-border': showBorder }]">
    <b-row class="justify-content-between">
      <b-col class="d-flex align-items-center">
        <button v-if="showBackButton" class="btn go-back" @click="$router.go(-1)">
          <Icon :name="'arrow-left'" />
        </button>
        <h1 v-if="!showDetails" class="page-title">{{ title }}</h1>
        <div v-else class="detailed-title">
          <h1 class="page-title">{{ title }}</h1>
          <span>{{ showDetails.country }}</span>
          <span>{{ showDetails.visa_type }}</span>
        </div>
      </b-col>

      <b-col v-if="showActions" class="d-flex justify-content-end align-items-center">
        <slot name="actions"></slot>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Icon from '../elements/Icon.vue'
export default {
  components: { Icon },
  props: {
    title: {
      type: String,
      default: '',
    },
    showBackButton: {
      type: Boolean,
      default: false,
    },
    showActions: {
      type: Boolean,
      default: false,
    },
    showBorder: {
      type: Boolean,
      default: false,
    },
    showDetails: {
      type: [Object, Boolean],
      default: false,
    },
  },
}
</script>

<style></style>
