
<template>
  <div class="solutions id">
    <PageHeader :title="deeplinkData.title" show-actions show-back-button>
      <template #actions>
        <button class="btn view-code" @click.stop="handleCodeModal(deeplinkData.url)">View code</button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="solutions-id_inner white-panel">
        <div class="row deeplink-details">
          <h2>Deeplink details</h2>
          <div class="col-12 pt-4 d-flex align-items-start justify-content-between">
            <DetailField label="Track id:">
              <strong>{{ deeplinkData.track_id }}</strong>
            </DetailField>
            <DetailField label="Total conversions:">
              <strong>{{ deeplinkData.total_conversion || 0 }}</strong>
            </DetailField>
            <DetailField label="Total clicks:">
              <strong>{{ deeplinkData.total_clicks || 0 }}</strong>
            </DetailField>
          </div>
        </div>
      </div>
       <FormModal title="Deeplink code" :toggle="showCodeModal" @close="showCodeModal = false">
        <b-form-group>
          <FormField :value="codeToCopy" disabled></FormField>
        </b-form-group>
        <button class="btn btn-greenland" @click="handleLinkCopy">Copy code</button>
      </FormModal>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  async asyncData({ params,store }) {
    await Promise.all([
        store.dispatch('deeplinks/fetchDeeplinkById',params.id),
    ])
  },
  data() {
    return {
      showCodeModal: false,
      codeToCopy: ''
    }
  },
  computed: {
    ...mapGetters({
      deeplinkData: 'deeplinks/deeplinkById'
    })
  },
  methods: {
     handleCodeModal(link) {
      this.showCodeModal = true
      this.codeToCopy = link
    },
    handleLinkCopy() {
      const link = this.codeToCopy

      navigator.clipboard.writeText(link)

      document.getElementsByClassName('btn-greenland')[0].innerHTML = 'Copied!'
    }
  }

}
</script>

<style>

</style>