<template>
  <div class="solutions create">
    <PageHeader title="New Deeplinks" show-actions show-back-button>
      <template #actions>
        <!-- <button class="btn preview">Preview</button> -->
        <button class="btn btn-greenland" @click="handleDeeplinkCreate">Create</button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="solutions-create_inner white-panel">
        <div class="row">
          <div class="col-12">
            <b-form-group label="Deeplink name">
              <FormField placeholder="New name will be here" v-model="createForm.title"/>
            </b-form-group>
          </div>
        </div>
        <div class="row flex-column">
          <h2 class="d-inline-flex">Filter and select services</h2>
          <div class="col-12 pt-4 d-flex align-items-center justify-content-between flex-wrap">
            <b-form-group label="Citizen of">
              <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" :visible="false" placeholder="Choose country" v-model="generateUrlForm.citizen_of" @input="fetchServices">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="auto" height="20px" alt="" style="margin-right:20px">
                    <span style="max-width: 50px; white-space: no-wrap;">{{ option.display_name }}</span>
                  </div>
                </template>
              </v-select>
            </b-form-group>
            <b-form-group label="Resident of">
              <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" placeholder="Choose country" v-model="generateUrlForm.resident_of" @input="fetchServices">
                <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="auto" height="20px" alt="" style="margin-right:20px">
                    <span style="max-width: 50px; white-space: no-wrap;">{{ option.display_name }}</span>
                  </div>
                </template>
              </v-select>
            </b-form-group>
            <b-form-group label="Travel to">
              <v-select label="display_name" :options="countries" :reduce="(data) => data.alpha_3_code" placeholder="Choose country" v-model="generateUrlForm.travel_to" @input="fetchServices">
                 <template v-slot:option="option">
                  <div class="d-inline-flex align-items-center">
                    <img v-show="option.flag_icon_url" :src="option.flag_icon_url" width="auto" height="20px" alt="" style="margin-right:20px">
                    <span style="max-width: 50px; white-space: no-wrap;">{{ option.display_name }}</span>
                  </div>
                </template>
              </v-select>
            </b-form-group>
            <b-form-group label="Services">
              <v-select :options="serviceOptions" v-model="service" placeholder="Add services" @input="addService">
              </v-select>
              <div class="selected-services">
                  <button v-for="service in selectedServices" :key="service.value" @click="popService(service)">
                    <span >{{service.label}}</span>
                    <Icon name="close-circle-2" />
                  </button>
              </div>
            </b-form-group>
          </div>
        </div>
        <button :disabled="!serviceOptions.length" :class="['btn generate-link',{'active': serviceOptions.length }]" @click="generateUrl">{{createForm.url ? 'Generate again' : 'Generate link'}}</button>
        <div class="copy-link" v-show="createForm.url">
          <span>{{createForm.url}}</span>
          <button class="btn" @click="handleLinkCopy"  id="tooltip-target-1">Copy link</button>
           <b-tooltip  target="tooltip-target-1" triggers="click">
            Link copied
          </b-tooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import { mapGetters } from 'vuex'
import countries from '../../countries.json'
export default {
  async asyncData({ store }) {
    await store.dispatch('fetchCountries')
  },
  data(){
    return {
      selectedServices: [],
      service: '',
      generateUrlForm: {
        citizen_of: '',
        resident_of: '',
        travel_to: '',
        track_id: '',
      },
      createForm: {
        url: '',
        title: '',
        track_id: ''
      },
      copied: false,
    }
  },
  computed: {
    ...mapGetters({
      serviceOptions: 'deeplinks/serviceOptions',
      countries: 'countries'
    })
  },
  methods: {
    async fetchServices() {
      if(!this.generateUrlForm.citizen_of || !this.generateUrlForm.resident_of || !this.generateUrlForm.travel_to)
        return
      await this.$store.dispatch('deeplinks/fetchServices', this.generateUrlForm)  
    },
    addService(val) {
      this.service = ''
      !this.selectedServices.includes(val) ? this.selectedServices.push(val) : false
    },
    popService(service){
      const index = this.selectedServices.indexOf(service)
      this.selectedServices.splice(index,1)
    },
    generateUrl() {
      this.generateUrlForm.track_id = uuidv4()
      this.createForm.track_id = this.generateUrlForm.track_id
      const url = 'https://stg.client.pickvisa.com'
      this.createForm.url = this.$applyQueryToUrl(url,this.generateUrlForm)
    },
    handleLinkCopy(){
      navigator.clipboard.writeText(this.createForm.url)
      this.copied = true
    },
    handleDeeplinkCreate() {
      this.$store.dispatch('deeplinks/createDeeplink',this.createForm)
    }
  },
}
</script>

<style>

</style>