<template>
  <div v-if="toggle" class="modal-overlay" @click.self="$emit('close')">
    <div class="preview-modal-content">
      <div class="head">
        <button class="btn btn-copy">Copy code</button>
        <button @click="handleBackdropClick">
          <Icon name="close-circle"/>
        </button>
      </div>
      <div class="body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    toggle: {
      type: Boolean,
      default: false,
      required: true,
    },
    title: {
      type: String,
      required: true
    },
    data: {
      type: Object,
      required: false
    }
  },
  created() {
    window.addEventListener('keydown', this.handleEscapeKey)
  },
  updated() {
    if (this.toggle) {
      document.querySelector('body').classList.add('modal-active')
      const elementString =  `<iframe frameborder="0" src="${window.location.origin}/embed?type=${this.data.type}&theme=${this.data.theme}&track_id=${this.data.track_id}"
      width="390"
      height="300"></iframe>`
      document.getElementsByClassName('body')[0].innerHTML = elementString
    } else {
      document.querySelector('body').classList.remove('modal-active')
    }
  },
  beforeDestroy() {
    document.querySelector('body').classList.remove('modal-active')
    window.removeEventListener('keydown', this.handleEscapeKey)
  },
  methods: {
    handleEscapeKey(e) {
      if (this.toggle && e.key === 'Escape') {
        this.$emit('close')
      }
    },
    handleBackdropClick() {
      this.$emit('close')
    },
  },
}
</script>

<style></style>
