<template>
  <div v-if="toggle" class="modal-overlay" @click.self="$emit('close')">
    <div class="terms-modal-content">
    <div class="head">
        <img src="/images/pickvisa-logo.svg" alt="">
        <button @click="handleBackdropClick">
          <Icon name="close-circle"/>
        </button>
      </div>
      <div class="body">
        <h1>Terms and Conditions</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida eget volutpat sollicitudin id bibendum sed massa senectus. Facilisis cras convallis tortor odio in eget sed sed. Nulla tincidunt morbi turpis egestas velit etiam lectus. Eros nisi, semper ac ac enim tincidunt. Velit, mauris sapien, semper adipiscing. Scelerisque ipsum sociis ullamcorper dictum lacinia mauris in. Auctor eleifend lectus porttitor fermentum. Tincidunt elit sapien consectetur nisi, integer elementum. Purus, odio urna, molestie ante. Nisl ridiculus elit eleifend urna, viverra auctor. Id rhoncus aliquet venenatis, euismod et orci dolor gravida. Est, rhoncus facilisis semper tristique erat. A etiam dui duis odio amet.
          Sed id tellus quis praesent mi enim dictum. Est id gravida ullamcorper mus sagittis id consectetur. Habitasse adipiscing blandit molestie eget ultricies. Urna ut pretium, pellentesque at arcu habitasse mi hac. Id aenean morbi tellus in viverra ipsum in. Sit eu sem mi eu egestas vulputate in nunc facilisis. Duis vel vitae nibh eget. A donec volutpat odio vitae enim habitant. Lacus, eu consequat nisl, a sed nisl non cursus.

          Sed quis condimentum sit in tellus. Feugiat faucibus fermentum euismod gravida maecenas purus felis nisi in. Congue consectetur dapibus eget rhoncus. Sed orci faucibus arcu risus tincidunt. Aliquam fermentum nisl aliquam augue sed placerat. Enim at condimentum nunc adipiscing est, ut sem sed. Consectetur nisi nisl et enim. Enim venenatis, cursus id sit ut consectetur. Arcu iaculis porttitor risus, nulla duis malesuada urna pellentesque gravida. Aliquet eu netus purus massa adipiscing non. Auctor nec, cursus eget scelerisque in.
          Facilisis feugiat consequat, tortor aliquam, sit. Pulvinar aliquet ipsum egestas semper id ut nibh et. Lorem lectus pulvinar tellus semper sit. Dui consequat tincidunt tempus duis in malesuada nunc pellentesque. Magna quis ullamcorper pellentesque lectus elementum. Vitae tincidunt viverra luctus fames arcu enim congue. Est ullamcorper scelerisque scelerisque nisi, faucibus. Enim neque, et augue luctus amet, etiam ut. Sollicitudin elementum egestas et libero morbi tempor fames.
          Faucibus scelerisque aliquam in porta risus justo. Rhoncus egestas iaculis a id fermentum. Mauris duis hac molestie nulla.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    toggle: {
      type: Boolean,
      default: false,
      required: true,
    },
    item: {
      type: Number,
      default: 0,
    },
  },
  created() {
    window.addEventListener('keydown', this.handleEscapeKey)
  },
  updated() {
    if (this.toggle) {
      document.querySelector('body').classList.add('modal-active')
    } else {
      document.querySelector('body').classList.remove('modal-active')
    }
  },
  beforeDestroy() {
    document.querySelector('body').classList.remove('modal-active')
    window.removeEventListener('keydown', this.handleEscapeKey)
  },
  methods: {
    handleEscapeKey(e) {
      if (this.toggle && e.key === 'Escape') {
        this.$emit('close')
      }
    },
    handleBackdropClick() {
      this.$emit('close')
    },
  },
}
</script>

<style></style>
