<template>
  <div class="login">
    <div class="login-inner">
      <div class="login-box">
        <div class="d-flex align-items-center">
          <button class="btn-back" @click="$nuxt.$emit('step-back',currentStep)">
            <Icon name="arrow-left" />
            <span>Back</span>
          </button>
          <img src="/images/pickvisa-logo.svg" alt="Pickvisa-logo">
        </div>
        <h1>Registration</h1>
        <div class="steps">
            <h2>Create admin account</h2>
             <div>
              <span class="active"></span>
              <span class="active"></span>
              <span class="active"></span>
            </div>
        </div>
        <b-form>
             <form-field placeholder="Enter" label="Email" type="email" v-model="form.email" :is-invalid="$v.form.email.$error">
              <b-form-invalid-feedback v-if="!$v.form.email.required">
                  Input cant be empty
              </b-form-invalid-feedback>
               <b-form-invalid-feedback v-if="!$v.form.email.email">
                  Please enter correct email address
              </b-form-invalid-feedback>
            </form-field>
            <b-form-group class="password-input">
            <span v-show="form.password" @mousedown="showPassword = !showPassword">
              <Icon :name="showPassword ? 'eye-slash' : 'eye'" />
            </span>
            <form-field placeholder="Enter" label="Password" :type="passwordInputType" v-model="form.password" :is-invalid="$v.form.password.$error">
              <b-form-invalid-feedback v-if="!$v.form.password.required">
                  Input cant be empty
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.password.minLength">
                  At least 8 characters
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.password.containsUppercase">
                  At least one uppercase letter
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.password.containsLowercase">
                  At least one lowercase letter
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.password.containsNumber">
                  At least one number
              </b-form-invalid-feedback>
            </form-field>
          </b-form-group>
        </b-form>
        <button class="btn btn-greenland" @click="finalizeRegistration">Register</button>
      </div>
    </div>
  </div>
</template>

<script>
  import { required,email, minLength } from 'vuelidate/lib/validators'
  import { mapGetters } from 'vuex'
  export default {
    layout: 'empty',
    data() {
      return {
        currentStep: {
          type: 'business',
          step: 2
        },
        showPassword: false,
        form: {
          email: '',
          password: ''
        }
      }
    },
      validations: {
        form: {
          password: { 
            required,
            minLength: minLength(8),
            containsUppercase: function(value) {
              return /[A-Z]/.test(value)
            },
            containsLowercase: function(value) {
              return /[a-z]/.test(value)
            },
            containsNumber: function(value) {
              return /[0-9]/.test(value)
            }
          },
          email: { email,required }
        }
    },
    computed: {
      ...mapGetters({
        countryOptions: 'countriesOptions'
      }),
       passwordInputType() {
        return this.showPassword ? 'text' : 'password'
      }
    },
    methods: {
      finalizeRegistration() {
        this.$v.form.$touch()
        if (this.$v.$invalid) return
          
        this.$nuxt.$emit('next-step',this.currentStep,this.form)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .login-box {
    position: relative;
    h1 {
    margin-bottom: 16px;
    }
    .btn-back {
      display: flex;
      align-items: center;
      position: absolute;
      top: 30px;
      left: 92px;

      span {
        margin-left: 7px;
        font-size: 14px;
        line-height: 24px;
        color: #2E3A59;
      }
    }
  }
  .btn-greenland {
    min-width: 344px;
    border-radius: 8px;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .registration-type {
  label {
    margin: 0;
  }
  li {
    &:first-child div {
        margin-bottom: 24px;
    }
    div {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 344px;
      margin: auto;
      min-height: 48px;
      background: #F7F9FC;
      border: 1px solid #E4E9F2;
      border-radius: 8px;
      padding: 14px 14px 14px 16px;
      cursor: pointer;

      &.active {
        background: #F2F6FF;
        border: 1px solid #3366FF;
      }

      input {
        margin-right: 16px;
        transform: scale(1.54);
      }

      span {
        font-size: 14px;
        line-height: 20px;
        color: #2E3A59;
      }
    }
  }
  }

  .steps {
    margin-bottom: 32px;
    h2 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: #2E3A59;
    }
    span {
      display: inline-flex;
      width: 40px;
      height: 6px;
      background: #EDF1F7;
      border-radius: 3px;

      &.active {
        background: #189CA9;
      }
    }
  }
  .btn-greenland {
    min-width: 344px;
    border-radius: 8px;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .registration-type {
  label {
    margin: 0;
  }
  li {
    &:first-child div {
        margin-bottom: 24px;
    }
    div {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 344px;
      margin: auto;
      min-height: 48px;
      background: #F7F9FC;
      border: 1px solid #E4E9F2;
      border-radius: 8px;
      padding: 14px 14px 14px 16px;
      cursor: pointer;

      &.active {
        background: #F2F6FF;
        border: 1px solid #3366FF;
      }

      input {
        margin-right: 16px;
        transform: scale(1.54);
      }

      span {
        font-size: 14px;
        line-height: 20px;
        color: #2E3A59;
      }
    }
  }
}
</style>
