.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.form-modal-content {
  background-color: $white;
  padding: 20px 32px 30px 32px;
  display: flex;
  flex-direction: column;
  min-width: 408px;
  border: none;
  border-radius: 8px;

  .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $basic-7;
    }
  }

  .body{
    width: 100%;
    margin-top: 48px;

    form {
      padding-bottom: 20px;
      legend {
        text-align: left;
      }
      .btn-greenland {
        width: 100%;
      }
      .btn-link {
        margin-top: -8px;
        margin-bottom: 32px;
      }
    }
  }
}
