.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.preview-modal-content {
  background-color: $white;
  padding: 20px 32px 0 32px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
  border: none;
  border-radius: 8px;


  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #EDF1F7;
      bottom: -32px;
    }

    .btn-copy {
      color: #222B45;
      background: #EDF1F7;
      border: 1px solid $greenland;
      border-radius: 4px;
      width: 121px;
      height: 40px;
    }
  }

  .body {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
