.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.terms-modal-content {
  background-color: $white;
  padding: 20px 32px 0 32px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
  border: none;
  border-radius: 8px;


  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    img {
      width: 118px;
      height: 32px;
    }

    button {
      position: absolute;
      right: 0;
      top: 6px;
    }
  }

  .body {
    padding: 0 104px 50px 104px;
    width: 100%;
    margin-top: 32px;
    color: #2E3A59;

    h1 {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }

    p {
      max-width: 800px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
