.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.withdraw-modal-content {
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 528px;
  min-height: 608px;
  border: none;
  border-radius: 8px;
  padding: 24px 24px 40px 24px;


  .head {
    width: 100%;
    text-align: center;

    span {
      color: #222B45;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }

    button {
      position: absolute;
      top: 18px;
      right: 18px;

      i {
        font-size: 20px;
      }
    }
  }

  .body {
    margin-top: 32px;

    & > span {
      margin-bottom: 16px;
      display: inline-block;
      color: #2E3A59;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }


    .withdraw-items-container {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      .withdraw-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 24px 12px 16px;
        background: #FAFAFA;
        border-radius: 12px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
          background: #F2F8FF;
          border: 1px solid #42AAFF;
          border-radius: 12px;
        }

        .wi-icon {
          padding: 12px;
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background: #FFFFFF;
          border: 1px solid #EDF1F7;
        }

        .wi-description {
          margin-left: 24px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          strong {
            color: #0095FF;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
          }

          span {
            color: #8F9BB3;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
          }
        }

        .wi-fee {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-left: auto;

          strong {
            color: #222B45;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }

          span {
            color: #8F9BB3;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }

}
