<template>
  <div class="faq">
    <PageHeader title="FAQ"/>
    <div class="container">
      <div class="faq-inner white-panel">
        <div class="faq-accordion">
          <div class="faq-accordion-item" :id="`faq-${index}`" v-for="(faq,index) in faqs" :key="index" @click="handleFaqActivation(index)">
            <div class="head">
              <h2>{{ faq.question }}</h2>
              <Icon name="arrow-down" />
            </div>
            <div class="body">
              <p>{{ faq.answer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  async asyncData({ store }) {
    await Promise.all([
      store.dispatch('faq/fetchFaqs'),
    ])
  },
  computed: {
    ...mapGetters({
      faqs: 'faq/faqs'
    })
  },
  methods: {
    handleFaqActivation(id) {
      const faqId = 'faq-' + id
      if(document.getElementById(`faq-${id}`).classList.contains('active')) {
         document.querySelectorAll(`.faq-accordion-item`).forEach(item => {
        if(item.id === faqId) {
          item.classList.add('active')
        }else {
          item.classList.remove('active')
        }
      })
        document.getElementById(`faq-${id}`).classList.remove('active')
      }else {
        document.querySelectorAll(`.faq-accordion-item`).forEach(item => {
          if(item.id === faqId) {
            item.classList.add('active')
          }else {
            item.classList.remove('active')
          }
        })
          document.getElementById(`faq-${id}`).classList.add('active')
        }
     
     
    }
  }
}
</script>

<style>

</style>