.solutions {
  h2 {
    color: $basic-7;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .solutions-inner {
    text-align: center;
    .action-tabs {
      display: inline-flex;
      margin: auto;
      padding: 4px;
      align-items: center;
      background: #EBF8F7;
      border-radius: 22px;
  
      button {
        border-radius: 18px;
        font-weight: 500;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 20px;
        color: $basic-7;
  
        &.active {
          background-color: $greenland;
          color: $white;
        }
  
        &:not(:last-child) {
          margin-right: 16px;
        }
  
        &:hover {
          background-color: $greenland;
          color: $white;
        }
  
      }
    }
    .table-responsive {
      padding-top: 28px;

      .btn-link {
        display: flex;
        align-items: center;
        margin: auto;
        text-decoration: none;
        i {
          transform: rotate(270deg);
          font-size: 14px;
          margin-left: 4px;
          font-weight: 600;
        }
      }
    }
  }

  .form-modal-content {
      min-height: auto;
      padding-bottom: 24px;
      .body {
        .form-group {
          width: 592px;
          max-width: 100%;
        }
        button {
          width: 137px;
          height: 48px;
        }
      }
    }

  &.id {
    .page-header {
      .btn.view-code {
        color: $dark-2;
        padding: 12px 24px;
        background: $basic-3;
        border: 1px solid $greenland;
        border-radius: 4px;
      }
    }
  }

  &.create {
    .page-header {
      .btn.preview {
        padding: 12px 16px;
        color: $dark-2;
        background: $basic-3;
        border: 1px solid $basic-6;
        border-radius: 4px;
        font-size: 14px;
        line-height: 16px;
        max-height: 40px;
      }
    }

    .solutions-create_inner {
      .generate-link {
        margin-top: 96px;
        background: #8F9BB3;
        border-radius: 4px;
        padding: 16px 32px;

        &.active {
          background: $greenland;
        }
        &:hover {
          color: $white;
          background: #41506e;
        }
      }

      .selected-services {
        position: relative;
        button {
          transform: translateY(16px);
          margin-right: 8px;
          margin-bottom: 8px;
          padding: 8px 8px 8px 12px;
          display: inline-flex;
          align-items: center;
          height: 32px;
          background: #101426;
          border-radius: 4px;

          span {
            text-align: left;
            color: #fff;
            font-size: 12px;
            line-height: 16px;
          }

          i {
            margin-left: 8px;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .copy-link {
        padding: 4px 4px 4px 16px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 668px;
        max-width: fit-content;
        background: #F7F9FC;
        border: 1px solid #C5CEE0;
        border-radius: 4px;

        span {
          color: #222B45;
          font-size: 14px;
          font-weight: 500;
        }
        .btn {
          margin-left: 64px;
          padding: 12px 32px;
          background: #0095FF;
          border-radius: 4px;
          font-weight: 500;
          font-size: 14px;

          &:hover {
            color: #fff;
            background: #0d74b8;
          }
        }
      }
    }
  }
}