.faq {
  .faq-inner {
    .faq-accordion .faq-accordion-item {
      cursor: pointer;
      border-bottom: 3px solid rgba(205, 214, 218, 0.25);
      &.active {
        .head {
          border-bottom: 3px solid rgba(205, 214, 218, 0.25);
          i {
            transform: rotate(180deg);
          }
        }

        .body {
          height: 100%;
          visibility: visible;
          opacity: 1;
        }
      }

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;

        i{
          transition: all .2s linear;
        }

        h2 {
          color: #2E3A59;
          font-weight: 500;
          font-size: 18px;
        }
      }

      .body {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .2s linear;
        

        p{
          padding: 16px 20px;
          color: rgba(60, 60, 67, 0.85);
          font-weight: 400;
          font-size: 16px;
        }
      }
    } 
  }
}