.is-login {
  background: url('/images/login-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.login-box {
  padding: 24px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 528px;
  height: auto;
  background: $white;
  border-radius: 8px;

  img {
    width: 118px;
    height: 32px;
  }

  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $basic-7;
    margin-top: 32px;
    margin-bottom: 48px;
  }

  p {
    text-align: center;
    margin-bottom: 64px;
    max-width: 344px;
    color: $basic-7;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  form {
    min-width: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      max-width: 100%;
    }

    .password-input {
      position: relative;
      margin-bottom: 0;

      span {
        position: absolute;
        top: 45px;
        right: 17px;
        width: 20px;
        height: 20px;
        transform: translateY(-6px);
      }

      i {
        font-weight: 600;
        color: $dark-1;
        font-size: 20px;
        cursor: pointer !important;
      }

      input {
        padding-right: 48px;
      }
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    .custom-checkbox {
      margin-right: auto;
    }
    .custom-control-label {
      cursor: pointer;
      padding-top: 4px;
      padding-left: 4px;
    }
    .custom-control-label::before {
      width: 20px;
      height: 20px;
      background: rgba(143, 155, 179, 0.08);
      border: 1px solid rgba(143,155,179, 0.48);
      border-radius: 3px;
    }

    .custom-control-label::after {
      width: 20px;
      height: 20px;
    }

    .btn-greenland {
      margin-top: 36px;
      width: 100%;
      height: 48px;
      background: $greenland;
      border-radius: 8px;
      margin-bottom: 40px;

      &:hover {
        color: $white;
        background: #008080;
      }
    }

    .btn-link {
      margin-top: -16px;
      align-self: flex-start;
    }

    a {
      color: $link;
      font-weight: 400;
    }
  }

  .register {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    
    .btn {
      padding: 0;
      margin-left: 8px;
      color: $greenland;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
