.payouts {
  .payout-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    column-gap: 24px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    strong {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }

    .balance {
      width: 50%;
      padding: 16px 24px 20px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      background: #FFFFFF;
      border-radius: 8px;


      & > div {
        display: flex;
        flex-direction: column;
      }
      button {
        padding: 16px 40px;
        border-radius: 8px;
      }
    }

    .pending {
      width: 50%;
      padding: 16px 38px 20px 16px;
      background: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border-radius: 8px;
      
      & > div {
        display: flex;
        flex-direction: column;
      }

      // button {
      //   padding: 16px 40px;
      //   border-radius: 8px;
      // }
    }
  }
  .payouts-inner {
    .table-responsive {
      .status-field {
          display: flex;
          align-items: center;

          i {
            margin-right: 8px;
            font-size: 16px;
          }

          &.status-pending {
            color: $warning-5;
          }
          &.status-completed {
            color: $greenland;
          }
          &.status-cancelled {
            color: $danger-5;
          }
      }

      .cancel-request {
        margin-left: 54px;
        width: 64px;
        height: 26px;
        background: #FF3D71;
        border-radius: 4px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.withdraw {
  .withdraw-inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
    .wd-amount {
      padding: 28px 24px 40px 24px;
      background: #FFFFFF;
      border-radius: 10px;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #2E3A59;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }

        .btn-link {
          color:#189CA9;
        }
      }

      .body {
        column-gap: 16px;
        margin-top: 28px;

        .amount-input {
          max-width: 100%;
          display: flex;
          align-items: center;
          background: #FFFFFF;
          border: 1px solid #E4E9F2;
          border-radius: 8px;
          padding: 12px 20px;

          &.amount-error {
            border: 1px solid #FF3D71;
          }

          span {
            color: #8F9BB3;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }

          input {
            width: 100%;
            margin-left: 8px;
            border: none;
            outline: none;
            color: #2E3A59;
            font-weight: 500;
            font-size: 24px;
          }
        }

        .input-error {
          margin-top: 8px;
          color: #FF3D71;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }

        .currency-input {
          padding: 12px 24px;
          background: #FFFFFF;
          border: 1px solid #E4E9F2;
          border-radius: 8px;
        }
      }
    }
    .wd-from {
      margin-bottom: 16px;
      max-width: 100%;
      width: 528px;
      padding: 24px 24px 32px 24px;
      background: #FFFFFF;
      border-radius: 10px;

      & > span {
        color: #2E3A59;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      div {
        margin-top: 10px;
        padding: 16px 20px;
        background: #FFFFFF;
        border: 1px solid #E4E9F2;
        border-radius: 8px;
        color: #2E3A59;
        line-height: 24px;

        span {
          font-weight: 400;
          font-size: 16px;
        }

        strong {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
    .wd-to {
      margin-top: 16px;
      max-width: 100%;
      width: 528px;
      padding: 28px 24px;
      
      background: #FFFFFF;
      border-radius: 10px;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: #2E3A59;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
  
        .btn {
          background: #C9E7E5;
          border-radius: 2px;
          color: $greenland;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .body {
        margin-top: 24px;
        .withdraw-item {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 12px 24px 12px 16px;
          background: #F2F8FF;
          border: 1px solid #42AAFF;
          border-radius: 12px;

          .wi-icon {
            padding: 12px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: #FFFFFF;
            border: 1px solid #EDF1F7;
          }
  
          .wi-description {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
  
            strong {
              color: #0095FF;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 4px;
            }
  
            span {
              color: #8F9BB3;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
            }
          }
  
          .wi-fee {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: auto;
  
            strong {
              color: #222B45;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
            }
  
            span {
              color: #8F9BB3;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
      
    }

    .additional-fields {
      margin-top: 40px;

      .form-group {
        max-width: 100%;

        input {
          min-height: 40px;
        }
      }

      legend {
        color: #2E3A59;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .summary {
      width: 436px;
      max-width: 100%;
      padding: 28px 24px 32px 24px;
      background: #FFFFFF;
      border-radius: 10px;

      & > span {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      ul {
        margin-top: 16px;
        margin-bottom: 32px;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
          width: 388px;
          padding: 14px 20px;
          background: #FAFAFA;
          border-radius: 8px;

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
      .btn {
        width: 100%;
        padding: 16px 0;
        color: #fff;
        background: #8F9BB3;
        border-radius: 8px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        pointer-events: none;

        &.active {
          background-color: $greenland;
          pointer-events: all;
        }

        &.pending{
        pointer-events: none;
        position: relative;
        user-select: none;
        color: transparent !important;

        * {
          color: transparent !important;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -9999px;
          margin-top: -5px;
          margin-left: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-radius: 5px;
          box-shadow: 9984px 0 0 0 rgba(255 255 255 / 100%), 9999px 0 0 0 rgba(255 255 255 / 100%), 10014px 0 0 0 rgba(255 255 255 / 100%);
          background-color: rgba(255 255 255 / 100%);
          color: rgba(255 255 255 / 100%);
          animation: button-loading-white 1s infinite linear;
        }
      }

        @keyframes button-loading-white {
          100%,
          0% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 33%), 9999px 0 0 0  rgba(255 255 255 / 66%), 10014px 0 0 0  rgba(255 255 255 / 100%); }
          33% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 66%), 9999px 0 0 0  rgba(255 255 255 / 33%), 10014px 0 0 0  rgba(255 255 255 / 100%); }
          66% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 100%), 9999px 0 0 0  rgba(255 255 255 / 66%), 10014px 0 0 0  rgba(255 255 255 / 33%); }
        }
      }
    }
  }
}