<template>
  <div class="root">
    <section class="page" :class="{ 'is-login': isLogin }">
      <nuxt />
    </section>
  </div>
</template>
<script>
export default {
  name: 'EmpyLayout',
  computed: {
    isLogin() {
      const names = ['login','forgot-password','forgot-password-link-sent','forgot-password-set-new','registration']
      return names.includes(this.$route.name) ? true : false
    }
  }
}
</script>
