<template>
      <div>
        <nuxt />
      </div>
</template>

<script>
export default {
  name: 'WidgetLayout',
}
</script>

<style lang="scss" scoped>
  html {
    width: fit-content;
    height: fit-content;
  }
</style>
