<template>
  <div class="payouts">
    <PageHeader title="Payouts" />
    <div class="container">
      <div class="payout-details">
          <div class="balance">
            <div>
              <span>Balance USD</span>
              <strong>${{ balance.current }}</strong>
            </div>
            <button class="btn btn-greenland" @click="$router.push('/payouts/withdraw')">Withdraw</button>
          </div>
          <div class="pending">
            <div>
              <span>Total earned</span>
              <strong>${{ balance.total }}</strong>
            </div>
            <button>
              <Icon name="info-circle"/>
            </button>
          </div>
        </div>
      <div class="payouts-inner white-panel">
        <DataTable :fields="fields">
          <tbody>
            <tr v-for="request in requests" :key="request.id">
              <td>
                <span>{{ request.operation_id }}</span>
              </td>
               <td>
                <span>${{ request.amount }}</span>
              </td>
              <td>
                <span>{{ $capitalizeString(request.provider.name) }}</span>
              </td>
              <td>
               <div class="d-flex align-items-center">
                 <span :class="['status-field',`status-${request.status.toLowerCase()}`]">
                  <Icon :name="statusType(request.status)" />
                  {{ $capitalizeString(request.status) }}
                </span>
                <button v-if="request.status === 'pending'" class="cancel-request" @click="handleshowCancelModal(request.id)">Cancel</button>
               </div>
              </td>
            </tr>
          </tbody>
        </DataTable>
      </div>
      <PayoutCancelModal :toggle="showCancelModal" @close="showCancelModal = false" @modal-cancel-click="handleWithdrawCancel(operationToCancel)" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  async asyncData({ store }){
    await Promise.all[
      store.dispatch('payouts/fetchPayoutRequestsList'),
      store.dispatch('payouts/fetchUserBalance')
    ] 
  },
  data() {
    return {
      showCancelModal: false,
      operationToCancel: '',
      fields: ['Operation ID','Amount','Payout method','Status'],
    }
  },
  computed: {
    ...mapGetters({
      requests: 'payouts/payoutRequests',
      balance: 'payouts/balance'
    })
  },
  methods: {
    statusType(status) {
      switch (status) {
        case 'pending':
          return 'clock'
        case 'processing':
          return 'tick-circle'
        case 'completed':
          return 'tick-circle'
        case 'cancelled':
          return 'close-circle-2'  
      }
    },
    handleshowCancelModal(id) {
      this.operationToCancel = id
      this.showCancelModal = true
    },
    async handleWithdrawCancel(id) {
      await this.$store.dispatch('payouts/withdrawCancel',id)
      this.showCancelModal = false
    }
  }
}
</script>

<style>

</style>