<template>
  <div class="withdraw">
    <PageHeader title="Withdraw" show-back-button />
    <div class="container">
      <div class="withdraw-inner">
        <div class="wd-details">
           <div class="wd-from">
          <span>Withdraw from</span>
          <div>
            <span>Balance:</span>
            <strong>USD ${{ balance.current }}</strong>
          </div>
        </div>
          <div class="wd-amount">
          <div class="head">
            <span>Withdraw amount</span>
            <button class="btn btn-link" @click="handleBalanceToInput">Use full balance</button>
          </div>
          <div class="body">
            <div :class="['amount-input', {'amount-error': Number(withdrawAmount) < selectedWithdrawMethod?.minimal_amount }]">
              <span>$</span>
              <input v-model="withdrawAmount" @input="handleWithdrawAmountRestriction($event)" placeholder="0" type="number" min="0" oninput="validity.valid||(value='');">
            </div>
            <div class="input-error" v-show="Number(withdrawAmount) < selectedWithdrawMethod?.minimal_amount">
                Minimum amount should be ${{ selectedWithdrawMethod.minimal_amount }}
            </div>
            <!-- <div class="currency-input">
              <select name="" id="">
                <option value="" selected>USD</option>
              </select>
            </div> -->
          </div>
        </div>
         <div class="wd-to">
            <div class="head">
              <span>Withdraw to</span>
              <button class="btn" @click="showWithdrawModal = true">Add method</button>
            </div>
            <div class="body" v-if="selectedWithdrawMethod.id">
              <div class="withdraw-item">
                  <div class="wi-icon">
                    <img :src="hadnleWithdrawMethodFilter(selectedWithdrawMethod.name).imageSrc" alt="" />
                  </div>
                  <div class="wi-description">
                    <strong>{{ $capitalizeString(selectedWithdrawMethod.name) }}</strong>
                    <span>Minimal withdraw amount: ${{ selectedWithdrawMethod.minimal_amount }}</span>
                  </div>
                  <div class="wi-fee">
                    <strong>${{ selectedWithdrawMethod.fee }}</strong>
                    <span>Provider fee</span>
                  </div>
                </div>
              <div class="additional-fields" v-if="selectedWithdrawMethod.fields?.length">
                <b-form-group v-for="(field,index) in selectedWithdrawMethod.fields" :key="field.id">
                  <FormField :label="field.label" placeholder="Enter" @input="handleAdditionalFieldInput($event,index)" :is-invalid="fields[index]['hasError']">
                    <b-form-invalid-feedback v-if="fields.length && fields[index]['hasError']">
                        {{fields[index]['label']}} field can't be empty
                    </b-form-invalid-feedback>
                  </FormField>
                </b-form-group>
              </div>
            </div>
        </div>
        </div>
        <div class="summary">
          <span>Total summary</span>
          <ul>
            <li>
              <span>Withdrawal amount</span>
              <strong>${{withdrawAmount || 0}}</strong>
            </li>
              <li>
              <span>Provider fee</span>
              <strong v-if="selectedWithdrawMethod.fee">-${{ selectedWithdrawMethod.fee }}</strong>
              <strong v-else>---</strong>
            </li>
            <li>
              <span>Amount to send</span>
              <strong v-if="selectedWithdrawMethod.fee && withdrawAmount">${{ selectedWithdrawMethod.fee && Number(withdrawAmount) - selectedWithdrawMethod.fee }}</strong>
              <strong v-else>---</strong>
            </li>
          </ul>
          <button :class="['btn', {'active':readyToWithdraw, 'pending': loading },]" @click="handleMoneyWithdraw">Withdraw</button>
        </div>

        <WithdrawModal :toggle="showWithdrawModal" @close="showWithdrawModal = false">
          <div class="withdrawal-methods">
              <div class="withdraw-items-container" v-for="provider in providers" :key="provider.id">
                <div class="withdraw-item" @click="handleMethodSelect(provider.id,provider.title)" :id="`method-${provider.id}`">
                  <div class="wi-icon">
                    <img :src="hadnleWithdrawMethodFilter(provider.name).imageSrc" alt="" />
                  </div>
                  <div class="wi-description">
                    <strong>{{ $capitalizeString(provider.name) }}</strong>
                    <span>Minimal withdraw amount: ${{ provider.minimal_amount }}</span>
                  </div>
                  <div class="wi-fee">
                    <strong>${{ provider.fee }}</strong>
                    <span>Provider fee</span>
                  </div>
                </div>
              </div>
          </div>
        </WithdrawModal>
      </div>
    </div>
  </div>
</template>

<script>
import { WithdawalMixin } from '~/mixins/withdrawal-methods'
import { mapGetters } from 'vuex'

export default {
  mixins: [WithdawalMixin],
  async asyncData({ store }){
    await Promise.all[
      store.dispatch('payouts/fetchUserBalance'),
      store.dispatch('payouts/fetchProviders')
    ] 
  },
  data() {
    return {
      loading: false,
      showWithdrawModal: false,
      selectedWithdrawMethod: {},
      withdrawAmount: '',
      fields: []
    }
  },
  computed: {
    ...mapGetters({
      balance: 'payouts/balance',
      providers: 'payouts/providers'

    }),
    readyToWithdraw(){
      if(this.withdrawAmount && this.selectedWithdrawMethod.fee) {
        if((Number(this.withdrawAmount) - this.selectedWithdrawMethod.fee) >= Number(this.selectedWithdrawMethod.minimal_amount)) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    handleWithdrawAmountRestriction(event) {
      if(Number(event.target.value) >= this.balance.current){
        this.withdrawAmount = this.balance.current
      }
      return
    },
    handleBalanceToInput() {
      this.withdrawAmount = this.balance.current
    },
    handleMethodSelect(id) {
      document.querySelectorAll('.withdraw-item').forEach(item => {
        item.classList.remove('selected')
      })
      document.getElementById(`method-${id}`).classList.add('selected')
      this.showWithdrawModal = false
      
      this.selectedWithdrawMethod = this.providers.find(provider => provider.id === id )

      this.fields = JSON.parse(JSON.stringify(this.selectedWithdrawMethod.fields))
    },
    hadnleWithdrawMethodFilter(title) {
      const methods = [
        { id: 1, title: 'Payoneer', imageSrc: '/images/withdrawal-methods/payoneer.svg' },
        { id: 2, title: 'Bank account', imageSrc: '/images/withdrawal-methods/bank.svg' },
        { id: 3, title: 'Wise', imageSrc: '/images/withdrawal-methods/wise.svg' },
        { id: 4, title: 'Paypal', imageSrc: '/images/withdrawal-methods/paypal.svg' },
        { id: 5, title: 'Coinbase', imageSrc: '/images/withdrawal-methods/coinbase.svg' },
      ]
      return methods.find(method => method.title === this.$capitalizeString(title))
    },
    handleAdditionalFieldInput(value,index) {
      this.$set(this.fields[index], 'value', value)
      this.checkAdditionalFields()
    },
    checkAdditionalFields() {
      let hasMissingRequiredField = false
      this.fields.forEach((field,index) => {
        if(field.is_required === true && (!field.value || field.value.trim() === '')){
          hasMissingRequiredField = true
          this.$set(this.fields[index], 'hasError', true)
        }else if(!hasMissingRequiredField) {
          hasMissingRequiredField = false
          this.$set(this.fields[index], 'hasError', false)
        }
      })

      return hasMissingRequiredField
    },
    async handleMoneyWithdraw() {
      if(this.readyToWithdraw === false && this.loading === false) 
        return
      
      if(this.fields?.length && this.checkAdditionalFields()) {
        this.$toast.error('Fill in all the required fields')
        return
      }
      
      this.loading = true
      await this.$store.dispatch('payouts/withdrawMoney',{
        amount: Number(this.withdrawAmount) - this.selectedWithdrawMethod.fee, 
        provider_id: this.selectedWithdrawMethod.id,
        fields: this.fields
      })
      this.withdrawAmount = ''
      this.selectedWithdrawMethod = ''
      this.loading = false
    }
  },
}
</script>

<style>

</style>