<template>
  <keep-alive>
    <component :is="widgetType" :widgetData="widgetData"></component>
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'
import Vertical from '../../components/widgets/Vertical.vue'
import Horizontal from '../../components/widgets/Horizontal.vue'
export default {
  head() {
    return {
      // disable the loading bar for this page
      meta: [{ hid: 'nuxt-loading', name: 'nuxt-loading', content: 'false' }]
    }
  },
  layout: 'widget',
  components: { Vertical,Horizontal },
  data() {
    return {
      widgetData: {
        type: '',
        theme: '',
        track_id: ''
      }
    }
  },
  computed: {
    // ...mapGetters({
    //   widget: 'widgets/widgetByTrackId'
    // }),
    widgetType(){
      if(this.widgetData?.type === 'vertical_widget'){
        return 'vertical'
      }else if(this.widgetData?.type === 'horizontal_widget') {
        return 'horizontal'
      }
    }
  },
  mounted() {
    this.widgetData.type = this.$route.query.type
    this.widgetData.theme = this.$route.query.theme
    this.widgetData.price = this.$route.query.price
    this.widgetData.preview = this.$route.query.preview
    this.widgetData.track_id = this.$route.query.track_id
    this.widgetData.width = this.$route.query.screen_size_width
  }
}

</script>

<style>

</style>